html,
* {
  box-sizing: border-box;
  color: #0c0c0d;
}

body {
  background: #fafafe;
  font-family: "fira sans", sans-serif;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
}

header h1 {
  background-image: url(icon.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  font-size: 32px;
  padding-left: 40px;
}

h1,
h2 {
  font-weight: 300;
}

h2 {
  font-size: 22px;
  margin-top: 0;
}

.picker-sets {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 360px 360px;
  justify-content: center;
  margin: 0 20px 20px;
}

.picker-set{
  align-items: stretch;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 5px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  width: 100%;
}

label {
  color: #737373;
  font-size: 12px;
  margin-bottom: 2px;

}
input[type="range"] {
  appearance: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 20px;
  margin:0 0 10px;
  outline: 0 !important;
  padding: 0;
  width: 100%;
}

input[type=range]::-moz-range-thumb {
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #888, 0 0 0 2px white inset;
  cursor: pointer;
  height: 20px;
  outline: none;
  transition: box-shadow 500ms;
  width: 20px;
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 3px #222, 0 0 0 2px white inset;
}

input[type=range]::-moz-range-track {
  background: transparent;
  border-radius: 1.3px;
  box-shadow: none;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

.h,
.s,
.l {
  height: 20px;
  position: relative;
  z-index: 2;
  margin: 0 0 20px;
}
