html,
* {
  box-sizing: border-box;
  color: #0c0c0d;
}

body {
  background: #fafafe;
  font-family: "fira sans", sans-serif;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0 20px;
}

header h1 {
  background-image: url(icon.svg);
  background-position: left 2px;
  background-repeat: no-repeat;
  font-size: 32px;
  padding-left: 40px;
}

h1,
h2 {
  font-weight: 300;
}

h2 {
  font-size: 22px;
  margin-top: 0;
}

.swatches {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: ;
  justify-content: center;
  margin: 0 20px 20px;
}

.swatch {
  height: 40px;
}

.picker-sets {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 360px 360px;
  justify-content: center;
  margin: 0 20px 20px;
}

.picker-set{
  align-items: stretch;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 5px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  width: 100%;
}

label {
  color: #737373;
  font-size: 12px;
  margin-bottom: 2px;
}

.picker-set div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.picker-set input[type="number"] {
  -moz-appearance:textfield;
  appearance: none;
  appearance: none;
  background: #ededf0;
  border: 0;
  font-size: 16px;
  height: 32px;
  padding: 6px;
  text-align: right;
  width: 50px;
}

input[type="number"]:focus, 
input[type="range"]:focus + input[type="number"] {
  box-shadow: 0 -2px 0 #00c8d7 inset;
}

input[type="range"] {
  appearance: none;
  display: flex;
  flex: 1 1;
  height: 32px;
  margin:0 0 10px;
  outline: 0 !important;
  padding: 0;
}

input[type=range]::-moz-range-thumb {
  background: transparent;
  border-radius: 0
  box-shadow: 0 0 0 1px white inset;
  cursor: pointer;
  height: 28px;
  outline: none;
  transition: box-shadow 500ms;
  width: 6px;
}

input[type=range]:focus {
  outline: 01px solid white;
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #222, 0 0 0 2px white inset;
}

input[type=range]::-moz-range-track {
  background: transparent;
  border-radius: 1.3px;
  box-shadow: none;
  cursor: pointer;
  height: 8.4px;
  width: 100%;
}

.h,
.s,
.l {
  height: 20px;
  position: relative;
  z-index: 2;
  margin: 0 0 20px;
}
